<h1>New Photo</h1>
<p>Find me in app/views/photos/new.html.erb</p>
<%= form_for @foto, :url => photos_path, :html => { :multipart => true} do |form| %>
  <%= form.file_field :gambar %>
  <%= form.text_field :title %>
  <%= form.submit "Create" %>
<% end %>
